<div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4 loaded">
  <div class="card-columns">
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Hot-Categories">Hot Categories</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Party-Dress">Party Dress</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Beauty-&amp;-Health">Beauty &amp; Health</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Women-shoe">Women shoe</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Sleeping-Dress">Sleeping Dress</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Casual-Dress">Casual Dress</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Hoodies-&amp;-Sweatshirts">Hoodies &amp; Sweatshirts</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Jackets">Jackets</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/T-shirts">T-shirts</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Shirts">Shirts</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Socks">Socks</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Wedding-&amp;-events">Wedding &amp; events</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Wedding-Dresses">Wedding Dresses</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Evening-Dresses">Evening Dresses</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Prom-Dresses">Prom Dresses</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Bridesmaid-Dresses">Bridesmaid Dresses</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Bottom">Bottom</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Skirts">Skirts</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Leggings">Leggings</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Jeans">Jeans</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Pant-&amp;-caprices">Pant &amp; caprices</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Shorts">Shorts</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Formal-Pants">Formal Pants</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Casual-pants">Casual pants</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Cargo-pants">Cargo pants</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Jeans">Jeans</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Tops-&amp;-sets">Tops &amp; sets</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Tank-tops">Tank tops</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Suit-&amp;-sets">Suit &amp; sets</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Accessories">Accessories</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Eyewear-&amp;-accessories">Eyewear &amp; accessories</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Hats-&amp;-Caps">Hats &amp; Caps</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Gloves">Gloves</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Watch">Watch</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Wallet">Wallet</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Belt">Belt</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Hats-&amp;-Cap">Hats &amp; Cap</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/watch-hyau2">Women Watch</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/women-dress-04vbn">Baby Dresses</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="sub-cat-menu c-scrollbar-light rounded shadow-lg p-4 loaded">
  <div class="card-columns">
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Hot-Categories">Hot Categories</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Party-Dress">Party Dress</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Beauty-&amp;-Health">Beauty &amp; Health</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Women-shoe">Women shoe</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Sleeping-Dress">Sleeping Dress</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Casual-Dress">Casual Dress</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Hoodies-&amp;-Sweatshirts">Hoodies &amp; Sweatshirts</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Jackets">Jackets</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/T-shirts">T-shirts</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Shirts">Shirts</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Socks">Socks</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Wedding-&amp;-events">Wedding &amp; events</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Wedding-Dresses">Wedding Dresses</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Evening-Dresses">Evening Dresses</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Prom-Dresses">Prom Dresses</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Bridesmaid-Dresses">Bridesmaid Dresses</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Bottom">Bottom</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Skirts">Skirts</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Leggings">Leggings</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Jeans">Jeans</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Pant-&amp;-caprices">Pant &amp; caprices</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Shorts">Shorts</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Formal-Pants">Formal Pants</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Casual-pants">Casual pants</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Cargo-pants">Cargo pants</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Jeans">Jeans</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Tops-&amp;-sets">Tops &amp; sets</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Tank-tops">Tank tops</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Suit-&amp;-sets">Suit &amp; sets</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Accessories">Accessories</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Eyewear-&amp;-accessories">Eyewear &amp; accessories</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Hats-&amp;-Caps">Hats &amp; Caps</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Gloves">Gloves</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Watch">Watch</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Wallet">Wallet</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Belt">Belt</a>
        </li>
        <li class="mb-2">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/Hats-&amp;-Cap">Hats &amp; Cap</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/watch-hyau2">Women Watch</a>
        </li>
      </ul>
    </div>
    <div class="card shadow-none border-0">
      <ul class="list-unstyled mb-3">
        <li class="fw-600 border-bottom pb-2 mb-3">
          <a class="text-reset" href="https://demo.activeitzone.com/ecommerce/category/women-dress-04vbn">Baby Dresses</a>
        </li>
      </ul>
    </div>
  </div>
</div>