<div class="aiz-topbar px-15px px-lg-25px d-flex align-items-stretch justify-content-between">
    <div class="d-flex">
        <div class="aiz-topbar-nav-toggler d-flex align-items-center justify-content-start mr-2 mr-md-3 ml-0"
             data-toggle="aiz-mobile-nav">
            <button class="aiz-mobile-toggler">
                <span></span>
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-stretch flex-grow-xl-1">
        <div class="d-flex justify-content-around align-items-center align-items-stretch">
            <div class="d-flex justify-content-around align-items-center align-items-stretch">
                <div class="aiz-topbar-item">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-icon btn-circle btn-light"
                           href="https://demo.activeitzone.com/ecommerce" target="_blank"
                           title="Browse Website">
                            <i class="las la-globe"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around align-items-center align-items-stretch ml-3">
                <div class="aiz-topbar-item">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-icon btn-circle btn-light"
                           href="https://demo.activeitzone.com/ecommerce/seller/pos" target="_blank"
                           title="POS">
                            <i class="las la-print"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around align-items-center align-items-stretch">

            <div class="aiz-topbar-item ml-2">
                <div class="align-items-stretch d-flex dropdown">
                    <a class="dropdown-toggle no-arrow" data-toggle="dropdown" href="javascript:void(0);"
                       role="button" aria-haspopup="false" aria-expanded="false">
                        <span class="btn btn-icon p-0 d-flex justify-content-center align-items-center">
                            <span class="d-flex align-items-center position-relative">
                                <i class="las la-bell fs-24"></i>
                                                                    <span class="badge badge-sm badge-dot badge-circle badge-primary position-absolute absolute-top-right"></span>
                                                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-lg py-0">
                        <div class="p-3 bg-light border-bottom">
                            <h6 class="mb-0">Notifications</h6>
                        </div>
                        <div class="px-3 c-scrollbar-light overflow-auto " style="max-height:300px;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6IlRxa2hjT2pJV292VjNxckZDQUprc3c9PSIsInZhbHVlIjoieXAvN3B5ajlWNi94OG50bFFjWHkxQT09IiwibWFjIjoiODk4NzA5ZDQzNTlmOTFkYjY3YjY2MGZjNGQyNWVhMjliZjUwNDdjZDhjNDE0Zjk2NmEwOGVkZjQ5Yzk0YWY0MSIsInRhZyI6IiJ9">
                                                    Order code: 20220726-08275357 has been Delivered
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                July 25 2022, 10:28 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6IkpnRUhaTEhiOUVHQU1PSE9GMlF1Unc9PSIsInZhbHVlIjoiYTlnc1VrM3hwWkM0ekwvMmZ2TmhWZz09IiwibWFjIjoiYWFjOTMwODU3NDdmMzg0MDRiZDdiZTA4ZDk3ZWFjYzc0Nzk2NDkxM2U2NWJjZmIxM2RjOTZkNDM5YTU1NzU2NSIsInRhZyI6IiJ9">
                                                    Order code: 20220726-08275357 has been Paid
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                July 25 2022, 10:28 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6Imp5NkgvQ1RRYi9aWStlWDFhMVFZc1E9PSIsInZhbHVlIjoiU3pyK2tOVGlqNXMvTVFRTmlQOU5Bdz09IiwibWFjIjoiNzA0MzA5NGJmMTEwNGFlZGZhYTkyNDVlODkxODY5NTNiMjRkMGJjMjIyNThkYzBmOTNjYWU2OThjNzQ4OGJmNSIsInRhZyI6IiJ9">
                                                    Order code: 20220726-08275357 has been Placed
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                July 25 2022, 10:27 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6ImFnakxua3pSNlA5LzFiT0I3d2dCbkE9PSIsInZhbHVlIjoiRThqZm45S3NiQ2lNeWJJNU1FMGsyZz09IiwibWFjIjoiYmFhZGMyMmI1NzA1MWM1NmRkY2ViNTUxNzcyM2JkNGYzMDJlM2RlZTZmMzBkYzRmMmUxOGIwYjJlZTZjNzFiMiIsInRhZyI6IiJ9">
                                                    Order code: 20220726-08040637 has been Delivered
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                July 25 2022, 10:05 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6InN2alhzUS9xeDYwTkF0b1JKMStGSFE9PSIsInZhbHVlIjoiTDV2MW0vT0MwNHZjZGRRTXg5b0I4dz09IiwibWFjIjoiYWE0Mzg0ZmE1NjRlZWM2NTA1ZjM0YjNhZDZjN2EzYzA0ZTE5N2VmNDc4YzdlM2Y1OTQ3NTMyYjhmM2QyMmVmYyIsInRhZyI6IiJ9">
                                                    Order code: 20220726-08040637 has been Paid
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                July 25 2022, 10:05 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6Ik9TTlhNZmFGY09iSzRydnVobXEyMmc9PSIsInZhbHVlIjoiaVc2WEp6RmdNYlphajNub1FqTWNtZz09IiwibWFjIjoiNzU3MTU1MTRkZjI1MTQwMTM1ZGU3NDdkYzdkMzRhNGY2ZTk2N2EwMzJiMjhkNWQ3NzVjOTFkNGFlMDVhMWIzNyIsInRhZyI6IiJ9">
                                                    Order code: 20220726-08040637 has been Placed
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                July 25 2022, 10:04 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6InZtQUdlemdaWHp3YXN2bEdLMDJCNUE9PSIsInZhbHVlIjoiUkg5Z3dmc1BGWGpKNEtvN2dtRjJvZz09IiwibWFjIjoiNGI4NzI3MTM3MzU0MDIwMDkwYjk2YzJhMThmZTRiMjc5Y2VlNmQwOTA5ZGQxMDNjMDUyNDliODk5NzM0ZmJkMiIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07072866 has been Paid
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 27 2022, 10:36 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6IjhPQVBVYTJ2cXdXYUc4VjI1ekVZNkE9PSIsInZhbHVlIjoiMDdaM3lPWDRSUkhOK0RnSkIyYUVOZz09IiwibWFjIjoiZDI5OTY3NzczNTZiNWUyNzE4ODUwNmJjMTQzYTlkYzFkYjllYzA4YzI0ZmM5OGRlOTNhMjM2YWI0MTdiYzVjYSIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07073112 has been On the way
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 27 2022, 10:30 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6IkQvb3MwS0lDSjcxc0tFMEUxRWJmaHc9PSIsInZhbHVlIjoiU3RKYTUxTVd1djRxSTRla0szOGhidz09IiwibWFjIjoiYmY0NmY4OWM0NGFhMTRjYzQyMWEwOGFlOWIwZTQ0NDFmMjEwYjQ2YTFhODhlZDk2MmZmMzQ2NThkNGNiOWYwNiIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07073112 has been Picked up
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 27 2022, 10:30 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6IlNrYitiT1NMWUlKVUkyOTk1VUlTNEE9PSIsInZhbHVlIjoiZWRwZnZCK2pBaXo5VmVjRG9ySmpYQT09IiwibWFjIjoiZDA3MTQ5ODExYmQwOGZjNjQ5NTEyZTY3ZGQ5ZjVjYTQ2ZDhjNTE2N2YxNDdlMjE0YjA2NDdjYzUwYTMwNWQ0YiIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07073111 has been Paid
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 20 2022, 8:51 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6IjFvTW5QZG1FUmF4eElnbG1ZbG5zTEE9PSIsInZhbHVlIjoiUzB4T2Fmc1lrNjNmMVcvdmtQSDJHQT09IiwibWFjIjoiNmE2N2U5NmE3YWE5NTQyMmUxYmUxMTIyYzUxYjBmNjY1NmZmMzc1ZGM2MzJhODgxZTFkNWEwY2UwNmFmMzc1MCIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07073111 has been Delivered
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 20 2022, 8:49 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6Inp3T3N5S0VQOVdIdTY1M3BxSXYwVmc9PSIsInZhbHVlIjoieEJMQzhjQXBoQVEzM1BlenlFdlU2Zz09IiwibWFjIjoiNTBkZWIwNzUyYmZjNWMyYTRkNDc0NjBlNDA3OGJjY2Q1ZjJkZTlmMmY2MWY5ODhlNzE4Njk5OTRlNDhhMWMyOCIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07073259 has been Delivered
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 20 2022, 8:38 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6IjFHc1ErWkFnRTJMK2tWTWxVZU1nTGc9PSIsInZhbHVlIjoieUdFTW9tNnRUT090TEQrNXIvZjdldz09IiwibWFjIjoiYmNmNTg3NDg4ZmY0NDEwMGZmM2I1M2QwZTAxMzM2NGI4NmNlOTUxZDdhNzVhY2I5MmEzZWUyNmU0YmNlOWVlMyIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07073259 has been Picked up
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 20 2022, 8:38 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6IjFDT2pEdmpsZUlOUHhPd3J2b3prQWc9PSIsInZhbHVlIjoiZHpBZU9YakYrRDhRdHQ4dFQ2MFA4dz09IiwibWFjIjoiNWJlYWU2Mzk0NGY5MWRmOTIxZjAzYWMwZjkyY2VlMTk3ODM1YmY4N2E4NzdlZDc4Mzc1NTNmYTdkYzliZTAyNCIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07073259 has been Paid
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 20 2022, 8:38 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6InhzVmJENk5WLzhMK3dhUDZxSDhiZnc9PSIsInZhbHVlIjoiVTltSlJ5VTNZZkp4UDdPeUVNSElpUT09IiwibWFjIjoiZTY1YTQ0M2U0ZTg0NGU2NWNmMjk4NTBkNDU3ODdlY2ZlMDFkN2ViMzAzMTEyZTA1YjQ2Zjk4MjVjOGQxZTI4MiIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07493371 has been Paid
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 19 2022, 9:50 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6IkZDSndUU3k0TllrbEJMOHFVbGpvSmc9PSIsInZhbHVlIjoiZG1VWmxENW5XNzA3RmdnK0hsTlczQT09IiwibWFjIjoiYjgwNDFlN2ExNWRkNDVlMDM2MjQ4ZWZiNjY0ZDM2NDQ5ZGRlZWEzZjM4ZDE0NjIyOWU1NzZiNGVhNTUyODY1ZCIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07493371 has been Delivered
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 19 2022, 9:50 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6InJLUUFTQ2NiOW9sOGxwWGpEQ04rbWc9PSIsInZhbHVlIjoiZGdNUGdvdm1OU09qdW9kMEJuRkJsZz09IiwibWFjIjoiMmJmYTJhZmI5ODlkNDI3NTc1NTI1ZThhYmY3OTQwYWUyOWZiODk4ZDEyYTU5NTQ0MGQ4M2E0YWU2NTJkZjBjOSIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07493371 has been Placed
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 19 2022, 9:49 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6ImhzbHN1NytpSllLWDl4UlBSZFRpTVE9PSIsInZhbHVlIjoiNEdBTjJMWGI3eUR1ZEpoSTAyc3hNZz09IiwibWFjIjoiMDAzNGIyMmRlZDBhZjgyMjRlNzJkNTQxZjRlYjkzNGU5NGZkYWNiMDlhYmUwMjk4ZjI1YWJhNWZmODVhM2M5MyIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07435544 has been Paid
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 19 2022, 9:44 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6Ijl3ME1xcy9YOVNWTkVBQWhjcEgvamc9PSIsInZhbHVlIjoiUDlqU0FyaTk2ZGVxWVd0cmhqT09qUT09IiwibWFjIjoiZjlkZjhjMzQ1OWMyNzJkOTc4YWI2ZThiYzBiNDBmZTkzZjc5NTlkYjVkZmQzMzk0MDQ2NmZlODU1MTZhMGZlZSIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07435544 has been Delivered
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 19 2022, 9:44 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items- py-3">
                                    <div class="media text-inherit">
                                        <div class="media-body">
                                            <p class="mb-1 text-truncate-2">
                                                <a href="https://demo.activeitzone.com/ecommerce/seller/orders/eyJpdiI6Im15NlBMMEVPeHgwN1RZWHVuRnlWTUE9PSIsInZhbHVlIjoiRFBhNXdQZWNtZDJRMnRRSm5zR0Fkdz09IiwibWFjIjoiMjUwYzA2M2IxNzcyZGI2MjUxNWQxNjRiZTNkZmI1M2M5N2MwN2YyMDkxN2JjMzEyMTJlNzk4Y2U0YTA4ZmI2ZSIsInRhZyI6IiJ9">
                                                    Order code: 20220420-07435544 has been Placed
                                                </a>
                                            </p>
                                            <small class="text-muted">
                                                April 19 2022, 9:44 pm
                                            </small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="text-center border-top">
                            <a href="https://demo.activeitzone.com/ecommerce/seller/all-notification"
                               class="text-reset d-block py-2">
                                View All Notifications
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="aiz-topbar-item ml-2">
                <div class="align-items-stretch d-flex dropdown " id="lang-change">
                    <a class="dropdown-toggle no-arrow" data-toggle="dropdown" href="javascript:void(0);"
                       role="button" aria-haspopup="false" aria-expanded="false">
                        <span class="btn btn-icon">
                            <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/en.png"
                                 height="11">
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-xs">

                        <li>
                            <a href="javascript:void(0)" data-flag="en" class="dropdown-item  active ">
                                <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/en.png"
                                     class="mr-2">
                                <span class="language">English</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-flag="bd" class="dropdown-item ">
                                <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/bd.png"
                                     class="mr-2">
                                <span class="language">Bangla</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-flag="sa" class="dropdown-item ">
                                <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/sa.png"
                                     class="mr-2">
                                <span class="language">Arabic</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-flag="fr" class="dropdown-item ">
                                <img src="https://demo.activeitzone.com/ecommerce/public/assets/img/flags/fr.png"
                                     class="mr-2">
                                <span class="language">French</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="aiz-topbar-item ml-2">
                <div class="align-items-stretch d-flex dropdown">
                    <a class="dropdown-toggle no-arrow text-dark" data-toggle="dropdown"
                       href="javascript:void(0);" role="button" aria-haspopup="false" aria-expanded="false">
                        <span class="d-flex align-items-center">
                            <span class="avatar avatar-sm mr-md-2">
                                <img
                                        src="https://demo.activeitzone.com/ecommerce/public/uploads/all/2bn2SwHTbJHw4k7GmCFn8lKYaxxxBFuCqiO7jfmI.jpg"
                                        onerror="this.onerror=null;this.src='https://demo.activeitzone.com/ecommerce/public/assets/img/avatar-place.png';"
                                >
                            </span>
                            <span class="d-none d-md-block">
                                <span class="d-block fw-500">Filon Asset Store</span>
                                <span class="d-block small opacity-60">seller</span>
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-menu-md">
                        <a href="https://demo.activeitzone.com/ecommerce/seller/profile" class="dropdown-item">
                            <i class="las la-user-circle"></i>
                            <span>Profile</span>
                        </a>

                        <a href="https://demo.activeitzone.com/ecommerce/logout" class="dropdown-item">
                            <i class="las la-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
            </div><!-- .aiz-topbar-item -->
        </div>
    </div>
</div><!-- .aiz-topbar -->