<div class="aiz-sidebar-wrap">
    <div class="aiz-sidebar left c-scrollbar">
        <div class="aiz-side-nav-logo-wrap">
            <div class="d-block text-center my-3">
                <img class="mw-100 mb-3"
                     src="https://demo.activeitzone.com/ecommerce/public/uploads/all/Qjj4dDEMSrAv6RlftG5Ue1BKLvgW7Ai5kPYL22xZ.png"
                     class="brand-icon"
                     alt="">
                <h3 class="fs-16  m-0 text-primary">Filon Asset Store</h3>
                <p class="text-primary"><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                           data-cfemail="7003151c1c1502301508111d001c155e131f1d">[email&#160;protected]</a>
                </p>
            </div>
        </div>
        <div class="aiz-side-nav-wrap">
            <div class="px-20px mb-3">
                <input class="form-control bg-soft-secondary border-0 form-control-sm text-white" type="text"
                       name="" placeholder="Search in menu" id="menu-search"
                       onkeyup="menuSearch()">
            </div>
            <ul class="aiz-side-nav-list" id="search-menu">
            </ul>
            <ul class="aiz-side-nav-list" id="main-menu" data-toggle="aiz-side-menu">
                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/dashboard" class="aiz-side-nav-link">
                        <i class="las la-home aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="aiz-side-nav-item">
                    <a href="#" class="aiz-side-nav-link">
                        <i class="las la-shopping-cart aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Products</span>
                        <span class="aiz-side-nav-arrow"></span>
                    </a>
                    <!--Submenu-->
                    <ul class="aiz-side-nav-list level-2">
                        <li class="aiz-side-nav-item">
                            <a href="https://demo.activeitzone.com/ecommerce/seller/products"
                               class="aiz-side-nav-link ">
                                <span class="aiz-side-nav-text">Products</span>
                            </a>
                        </li>

                        <li class="aiz-side-nav-item">
                            <a href="https://demo.activeitzone.com/ecommerce/seller/product-bulk-upload/index"
                               class="aiz-side-nav-link ">
                                <span class="aiz-side-nav-text">Product Bulk Upload</span>
                            </a>
                        </li>
                        <li class="aiz-side-nav-item">
                            <a href="https://demo.activeitzone.com/ecommerce/seller/digitalproducts"
                               class="aiz-side-nav-link ">
                                <span class="aiz-side-nav-text">Digital Products</span>
                            </a>
                        </li>
                        <li class="aiz-side-nav-item">
                            <a href="https://demo.activeitzone.com/ecommerce/seller/reviews"
                               class="aiz-side-nav-link ">
                                <span class="aiz-side-nav-text">Product Reviews</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/uploads"
                       class="aiz-side-nav-link ">
                        <i class="las la-folder-open aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Uploaded Files</span>
                    </a>
                </li>
                <li class="aiz-side-nav-item">
                    <a href="#" class="aiz-side-nav-link">
                        <i class="las la-shopping-cart aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Package</span>
                        <span class="aiz-side-nav-arrow"></span>
                    </a>
                    <ul class="aiz-side-nav-list level-2">
                        <li class="aiz-side-nav-item">
                            <a href="https://demo.activeitzone.com/ecommerce/seller/seller-packages"
                               class="aiz-side-nav-link">
                                <span class="aiz-side-nav-text">Packages</span>
                            </a>
                        </li>

                        <li class="aiz-side-nav-item">
                            <a href="https://demo.activeitzone.com/ecommerce/seller/packages-payment-list"
                               class="aiz-side-nav-link">
                                <span class="aiz-side-nav-text">Purchase Packages</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/coupon"
                       class="aiz-side-nav-link ">
                        <i class="las la-bullhorn aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Coupon</span>
                    </a>
                </li>
                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/wholesale-products"
                       class="aiz-side-nav-link ">
                        <i class="las la-luggage-cart aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Wholesale Products</span>
                    </a>
                </li>
                <li class="aiz-side-nav-item">
                    <a href="javascript:void(0);" class="aiz-side-nav-link">
                        <i class="las la-gavel aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Auction</span>
                        <span class="aiz-side-nav-arrow"></span>
                    </a>
                    <ul class="aiz-side-nav-list level-2">
                        <li class="aiz-side-nav-item">
                            <a href="https://demo.activeitzone.com/ecommerce/seller/auction_products"
                               class="aiz-side-nav-link ">
                                    <span
                                            class="aiz-side-nav-text">All Auction Products</span>
                            </a>
                        </li>
                        <li class="aiz-side-nav-item">
                            <a href="https://demo.activeitzone.com/ecommerce/seller/auction_products-orders"
                               class="aiz-side-nav-link ">
                                    <span
                                            class="aiz-side-nav-text">Auction Product Orders</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/pos"
                       class="aiz-side-nav-link ">
                        <i class="las la-fax aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">POS Manager</span>
                    </a>
                </li>
                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/orders"
                       class="aiz-side-nav-link ">
                        <i class="las la-money-bill aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Orders</span>
                    </a>
                </li>
                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/refund-request"
                       class="aiz-side-nav-link ">
                        <i class="las la-backward aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Received Refund Request</span>
                    </a>
                </li>


                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/shop"
                       class="aiz-side-nav-link ">
                        <i class="las la-cog aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Shop Setting</span>
                    </a>
                </li>

                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/payments"
                       class="aiz-side-nav-link ">
                        <i class="las la-history aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Payment History</span>
                    </a>
                </li>

                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/money-withdraw-requests"
                       class="aiz-side-nav-link ">
                        <i class="las la-money-bill-wave-alt aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Money Withdraw</span>
                    </a>
                </li>

                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/commission-history"
                       class="aiz-side-nav-link">
                        <i class="las la-file-alt aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Commission History</span>
                    </a>
                </li>

                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/conversations"
                       class="aiz-side-nav-link ">
                        <i class="las la-comment aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Conversations</span>
                    </a>
                </li>

                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/product-queries"
                       class="aiz-side-nav-link ">
                        <i class="las la-question-circle aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Product Queries</span>

                    </a>
                </li>

                <li class="aiz-side-nav-item">
                    <a href="https://demo.activeitzone.com/ecommerce/seller/support_ticket"
                       class="aiz-side-nav-link ">
                        <i class="las la-atom aiz-side-nav-icon"></i>
                        <span class="aiz-side-nav-text">Support Ticket</span>
                        <span class="badge badge-inline badge-success">2</span>
                    </a>
                </li>

            </ul><!-- .aiz-side-nav -->
        </div><!-- .aiz-side-nav-wrap -->
    </div><!-- .aiz-sidebar -->
    <div class="aiz-sidebar-overlay"></div>
</div><!-- .aiz-sidebar -->